:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #A626D3;
  height: 70px;
  z-index: 1;
}

.header-logo {
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.troll-face {
  width: 31px;
  height: 27px;
}

.header-title {
  color: white;
  margin-left: 10px;
}

.project-title {
  color: white;
  margin-right: 30px;
}

.form-container {
  display: flex;
  margin-top: 70px;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.form {
  display: flex;
  justify-content: center;
  width: 80vw;
}

fieldset {
  border: none;
}

.top-text-container, .bottom-text-container {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  width: 80%;
  padding: 0;
}

.top-text-label, .bottom-text-label {
  font-size: 12px;
}

#top-text {
  margin-right: 10px;
}

.bottom-text-label, #bottom-text {
  margin-left: 10px;
}

input {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 5px;
}

.meme-button {
  background-color: #A626D3;
  border: none;
  color: white;
  padding: 10px;
  width: 80vw;
  border-radius: 7px;
  box-shadow: 0px 3px 2px 1px lightgray;
  cursor: pointer;
}

.meme-image {
  margin-top: 20px;
  max-width: 500px;
}

.meme-container {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
    3px 3px 0 #000,
    -3px -3px 0 #000,
    3px -3px 0 #000,
    -3px 3px 0 #000,
    0 3px 0 #000,
    3px 0 0 #000,
    0 -3px 0 #000,
    -3px 0 0 #000,
    3px 3px 5px #000;
}

.meme-top-text {
  position: absolute;
  top: 10px;
}

.meme-bottom-text {
  position: absolute;
  bottom: 10px;
}